.PieChartReport{
    .typeSelector{
        max-width: 200px;
        margin: 0 auto 10px;
    }
    
    .pieChart{
        margin: 30px auto 0;
    }

    .toolTip{
        padding: 10px;
        background: white;
        border-radius: 10px;
        border: 1px solid #AAA;
    }

    .pieLabel{
        font-size: .5em;
    }

    .promptUserPieChart{
        font-size: .5em;
        margin-top: 22px;
        margin-bottom: -60px;
    }

    .recharts-surface{
        overflow: overlay;
    }

    .pieLabel{
        font-size: .3em;
    }
}