.Report{
  margin: 50px auto;
  max-width: 600px;
  font-size: 20px;
  .rows{
    .row{
      padding: 10px;
      border-bottom: 1px solid black;

      .label{
        display: flex;
        align-items: center;
      }

      .column{
        text-align: left;
      }

      .category{
        border: none;

        .value{
          text-align: right;
        }
      }
    }

    .numberValue{
      .value{
        font-family: sans-serif;
        font-weight: 100;
      }
    }

    .head{
      padding: 30px 10px;
      justify-content: center;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .Report{
    font-size: 12px;
  }
}