.search{
  margin: 0 auto;
  max-width: 500px;

  .searchBar{
    background-color: white;
    border: 1px solid black;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;

    .fa-search{
      padding: 10px 15px;
      margin-right: 10px;
      border-right: 1px solid black;
    }

    input {
      padding: 10px 15px;
      border: none;
      outline: none;
      margin-left: 5px;
      vertical-align: center;
    }

    .searchInput{
      flex-grow: 1;
    }
  }
}
