.HomePage{
  text-align: left;
  font-size: 2em;

  .welcome{
    width: 100%;
    text-align: center;
  }

  .Cards{
    display: flex;
    flex-wrap: wrap;

    .Card{
      flex: 1;
      font-size: .6em;
    }
  }
}
